/* .rsis-image {
    width: 90%;
    background-size: contain !important;
    border-radius: 20px !important;
}

.rsis-container {
    width: 90%;
    border-radius: 20px !important;
}
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */